In [777]:
import pandas as pd
print()

original_df = pd.read_csv("dirty_cafe_sales.csv")
df = original_df.drop_duplicates()
df

,Transaction ID,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
0,TXN_1961373,Coffee,2,2.0,4.0,Credit Card,Takeaway,2023-09-08
1,TXN_4977031,Cake,4,3.0,12.0,Cash,In-store,2023-05-16
2,TXN_4271903,Cookie,4,1.0,ERROR,Credit Card,In-store,2023-07-19
3,TXN_7034554,Salad,2,5.0,10.0,UNKNOWN,UNKNOWN,2023-04-27
4,TXN_3160411,Coffee,2,2.0,4.0,Digital Wallet,In-store,2023-06-11
...,...,...,...,...,...,...,...,...
9995,TXN_7672686,Coffee,2,2.0,4.0,NaN,UNKNOWN,2023-08-30
9996,TXN_9659401,NaN,3,NaN,3.0,Digital Wallet,NaN,2023-06-02
9997,TXN_5255387,Coffee,4,2.0,8.0,Digital Wallet,NaN,2023-03-02
9998,TXN_7695629,Cookie,3,NaN,3.0,Digital Wallet,NaN,2023-12-02
9999,TXN_6170729,Sandwich,3,4.0,12.0,Cash,In-store,2023-11-07

Quantity

In [778]:

Quantity_Mode_Val = df["Quantity"].mode()[0]
print("Quantity_Mode_Val\n", Quantity_Mode_Val)
df["Quantity"] = df["Quantity"].str.strip()
df["Quantity"] = df["Quantity"].fillna(Quantity_Mode_Val)
# df["Item"] = df["Item"].str.replace('', Quantity_Mode_Val)
df["Quantity"] = df["Quantity"].str.replace('ERROR', Quantity_Mode_Val)
df["Quantity"] = df["Quantity"].str.replace('UNKNOWN', Quantity_Mode_Val)
df["Quantity"] = pd.to_numeric(df["Quantity"], errors="coerce")
df.info()

Quantity_Mode_Val
 5
<class 'pandas.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Transaction ID    10000 non-null  str
 1   Item              9667 non-null   str
 2   Quantity          10000 non-null  int64
 3   Price Per Unit    9821 non-null   str
 4   Total Spent       9827 non-null   str
 5   Payment Method    7421 non-null   str
 6   Location          6735 non-null   str
 7   Transaction Date  9841 non-null   str
dtypes: int64(1), str(7)
memory usage: 625.1 KB

Price Per Unit  &  Total Spent

In [779]:

df["Price Per Unit"] = df["Price Per Unit"].str.strip()
df["Price Per Unit"] = df["Price Per Unit"].fillna('')
df["Price Per Unit"] = df["Price Per Unit"].str.replace('ERROR', '')
df["Price Per Unit"] = df["Price Per Unit"].str.replace('UNKNOWN', '')
df["Price Per Unit"] = pd.to_numeric(df["Price Per Unit"])
###################
df["Total Spent"] = df["Total Spent"].str.strip()
df["Total Spent"] = df["Total Spent"].fillna('')
df["Total Spent"] = df["Total Spent"].str.replace('ERROR', '')
df["Total Spent"] = df["Total Spent"].str.replace('UNKNOWN', '')
df["Total Spent"] = pd.to_numeric(df["Total Spent"])

groupby_data = df.groupby("Item")["Price Per Unit"]
print(groupby_data.max(), "\n")
# print(groupby_data.min(), "\n")

for x in df.index:
    if pd.isna(df.loc[x, "Price Per Unit"]):
        if df.loc[x, "Item"] == "Cake":
            df.loc[x, "Price Per Unit"] = 3.0
        elif df.loc[x, "Item"] == "Coffee":
            df.loc[x, "Price Per Unit"] = 2.0
        elif df.loc[x, "Item"] == "Cookie":
            df.loc[x, "Price Per Unit"] = 1.0
        elif df.loc[x, "Item"] == "Juice":
            df.loc[x, "Price Per Unit"] = 3.0
        elif df.loc[x, "Item"] == "Salad":
            df.loc[x, "Price Per Unit"] = 5.0
        elif df.loc[x, "Item"] == "Sandwich":
            df.loc[x, "Price Per Unit"] = 4.0
        elif df.loc[x, "Item"] == "Smoothie":
            df.loc[x, "Price Per Unit"] = 4.0
        elif df.loc[x, "Item"] == "Tea":
            df.loc[x, "Price Per Unit"] = 1.5
        
###################

# for x in df.index:
#     if pd.isna(df.loc[x, "Total Spent"]):
#         df.loc[x, "Total Spent"] = df.loc[x, "Price Per Unit"] * df.loc[x, "Quantity"]

df["Total Spent"] = df["Total Spent"].fillna( df["Price Per Unit"] * df["Quantity"] )
df["Price Per Unit"] = df["Price Per Unit"].fillna( df["Total Spent"] / df["Quantity"] )

df.info()

Item
Cake        3.0
Coffee      2.0
Cookie      1.0
ERROR       5.0
Juice       3.0
Salad       5.0
Sandwich    4.0
Smoothie    4.0
Tea         1.5
UNKNOWN     5.0
Name: Price Per Unit, dtype: float64

<class 'pandas.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Transaction ID    10000 non-null  str
 1   Item              9667 non-null   str
 2   Quantity          10000 non-null  int64
 3   Price Per Unit    9997 non-null   float64
 4   Total Spent       9997 non-null   float64
 5   Payment Method    7421 non-null   str
 6   Location          6735 non-null   str
 7   Transaction Date  9841 non-null   str
dtypes: float64(2), int64(1), str(5)
memory usage: 625.1 KB

Item

In [780]:

df["Item"] = df["Item"].str.strip()
df["Item"] = df["Item"].fillna("")
df["Item"] = df["Item"].str.replace('ERROR', "")
df["Item"] = df["Item"].str.replace('UNKNOWN', "")

for x in df.index:
    # if pd.isna(df.loc[x, "Item"]):
    if df.loc[x, "Item"] == "":
        if df.loc[x, "Price Per Unit"] == 3.0:
            df.loc[x, "Item"] = "Cake"
        elif df.loc[x, "Price Per Unit"] == 2.0:
            df.loc[x, "Item"] = "Coffee"
        elif df.loc[x, "Price Per Unit"] == 1.0:
            df.loc[x, "Item"] = "Cookie"
        elif df.loc[x, "Price Per Unit"] == 3.0:
            df.loc[x, "Item"] = "Juice"
        elif df.loc[x, "Price Per Unit"] == 5.0:
            df.loc[x, "Item"] = "Salad"
        elif df.loc[x, "Price Per Unit"] == 4.0:
            df.loc[x, "Item"] = "Sandwich"
        elif df.loc[x, "Price Per Unit"] == 4.0:
            df.loc[x, "Item"] = "Smoothie"
        elif df.loc[x, "Price Per Unit"] == 1.5:
            df.loc[x, "Item"] = "Tea"

Payment Method

In [781]:
Payment_Mode_Val = df["Payment Method"].mode()[0]
print("Payment_Mode_Val\n", Payment_Mode_Val)

df["Payment Method"] = df["Payment Method"].str.strip()
df["Payment Method"] = df["Payment Method"].fillna(Payment_Mode_Val)
df["Payment Method"] = df["Payment Method"].str.replace('ERROR', Payment_Mode_Val)
df["Payment Method"] = df["Payment Method"].str.replace('UNKNOWN', Payment_Mode_Val)
df.info()

Payment_Mode_Val
 Digital Wallet
<class 'pandas.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Transaction ID    10000 non-null  str
 1   Item              10000 non-null  str
 2   Quantity          10000 non-null  int64
 3   Price Per Unit    9997 non-null   float64
 4   Total Spent       9997 non-null   float64
 5   Payment Method    10000 non-null  str
 6   Location          6735 non-null   str
 7   Transaction Date  9841 non-null   str
dtypes: float64(2), int64(1), str(5)
memory usage: 625.1 KB

Location

In [782]:

Location_Mode_Val = df["Location"].mode()[0]
print("Location_Mode_Val\n", Location_Mode_Val)

df["Location"] = df["Location"].str.strip()
df["Location"] = df["Location"].fillna(Location_Mode_Val)
df["Location"] = df["Location"].str.replace('ERROR', Location_Mode_Val)
df["Location"] = df["Location"].str.replace('UNKNOWN', Location_Mode_Val)
df.info()

Location_Mode_Val
 Takeaway
<class 'pandas.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Transaction ID    10000 non-null  str
 1   Item              10000 non-null  str
 2   Quantity          10000 non-null  int64
 3   Price Per Unit    9997 non-null   float64
 4   Total Spent       9997 non-null   float64
 5   Payment Method    10000 non-null  str
 6   Location          10000 non-null  str
 7   Transaction Date  9841 non-null   str
dtypes: float64(2), int64(1), str(5)
memory usage: 625.1 KB

Transaction Date

In [783]:

df["Transaction Date"] = df["Transaction Date"].str.strip()
df["Transaction Date"] = df["Transaction Date"].fillna('')
df["Transaction Date"] = df["Transaction Date"].str.replace('ERROR', '')
df["Transaction Date"] = df["Transaction Date"].str.replace('UNKNOWN', '')
######################

df["Transaction Date"] = pd.to_datetime(df["Transaction Date"])

df.info()

<class 'pandas.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Transaction ID    10000 non-null  str
 1   Item              10000 non-null  str
 2   Quantity          10000 non-null  int64
 3   Price Per Unit    9997 non-null   float64
 4   Total Spent       9997 non-null   float64
 5   Payment Method    10000 non-null  str
 6   Location          10000 non-null  str
 7   Transaction Date  9540 non-null   datetime64[us]
dtypes: datetime64[us](1), float64(2), int64(1), str(4)
memory usage: 625.1 KB

Season

In [784]:
seasons_map = {
    12: "Winter", 1: "Winter", 2: "Winter",
    3: "Spring", 4: "Spring", 5: "Spring",
    6: "Summer", 7: "Summer", 8: "Summer",
    9: "Fall", 10: "Fall", 11: "Fall"
}

df["Season"] = df["Transaction Date"].dt.month.map(seasons_map)

In [785]:

# df.dropna(inplace=True)
df.to_csv("Cleaned_Sales.csv", index=False)